.pylint.d
.spyproject
.gitignore
.coverage
__pycache__
dist
.pylint_report
coverage.json
logs
MancalaGames
*.cov
analysis/pdicts
analysis/data/more
analysis/data/chi_squ
context.py
GamePropsNoRelease
tools/run_*
docs/props_used.xlsx
/GameProps/favorites.csv
