.pylint.d
.spyproject
.gitignore
.coverage
__pycache__
dist
.pylint_report
coverage.json
logs
MancalaGames
*.cov
analysis/data
analysis/pdicts
context.py
GamePropsNoRelease
tools/run_*
docs/props_used.xlsx
/GameProps/favorites.csv
